<style type="text/css">
    .form-horizontal input.ng-invalid.ng-dirty {
        border-color: #FA787E;
    }

    .form-horizontal input.ng-valid.ng-dirty {
        border-color: #78FA89;
    }

    .help-ok {
        color: green;
    }

    .help-broken {
        color: red;
    }

    .help-container span {
        line-height: 34px;
    }
</style>

<page-title ng-if="layoutOptions.pageTitles" title="{{title}}" description="Adjust the properties of the product."></page-title>

<div class="row">
    <div class="col-md-12">

        <!-- Default panel -->
        <div class="panel panel-default">
            <div class="panel-heading" ng-show="false">
                <span ng-show="formMode==='Edit'"><i class="glyphicon glyphicon-edit"></i> Currently Editing Product: '{{product.code}}'</span>
                <span ng-show="formMode==='Add'"><i class="glyphicon glyphicon-edit"></i> Currently Adding new Product: </span>
            </div>

            <div class="panel-body">
                <form role="form" name="myForm" class="form-horizontal">
                    <div class="row">
                        <div class="form-group" ng-class="{error: myForm.name.$invalid}">
                            <label class="col-md-2"> Code *</label>
                            <div class="col-md-4">
                                <input name="code" ng-model="product.code" type="text" class="form-control" placeholder="Product code" data-duplicate-code data-url="/api/journeydesigner/products/exists/" required ng-maxlength="4" ng-minlength="3"/>
                            </div>
                            <div class="col-md-4 help-container">
                                <span ng-show="myForm.code.$dirty && !myForm.code.$error.maxlength && !myForm.code.$invalid" class="help-inline help-ok"><i class="glyphicon glyphicon-ok"></i> Code looks good</span>
                                <span ng-show="myForm.code.$dirty && myForm.code.$error.required" class="help-inline help-broken"><i class="glyphicon glyphicon-remove"></i> Code required</span>
                                <span ng-show="myForm.code.$error.maxlength" class="help-inline help-broken"><i class="glyphicon glyphicon-remove"></i> Code must be less than or equal to 4 characters</span>
                                <span ng-show="myForm.code.$error.minlength" class="help-inline help-broken"><i class="glyphicon glyphicon-remove"></i> Code must be more than or equal to 3 characters</span>
                                <span ng-show="myForm.code.$error.isduplicate && myForm.code.$dirty" class="help-inline help-broken"><i class="glyphicon glyphicon-remove"></i> Code is already taken</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2"> Name </label>
                            <div class="col-md-4">
                                <input name="name" ng-model="product.name" type="text" class="form-control" placeholder="Enter name"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2"> Type </label>
                            <div class="col-md-4">
                                <select class="form-control" ng-model="product.productType" to-number>
                                    <option ng-repeat="productType in productTypes" value="{{productType.value}}">{{productType.text}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">Description </label>
                            <div class="col-md-4">
                                <input ng-model="product.description" type="text" class="form-control" placeholder="Enter description"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2"></label>
                            <div class="col-md-4">
                                <a href="#/app/journeydesigner-products" class="btn btn-white">Cancel</a>
                                <button ng-click="saveProduct(product);"
                                        ng-disabled="isClean() || myForm.$invalid"
                                        class="btn btn-primary">
                                    {{buttonText}}
                                </button>
                                <button ng-click="confirmDeleteProduct(product)"
                                        ng-show="title==='Edit Product'" class="btn btn-warning">
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row" ng-show="false">
                    <pre>{{ myForm | json }}</pre>
                </div>

                <div class="row" ng-show="false">
                    <pre>{{ product | json }}</pre>
                </div>
            </div>
        </div>

    </div>
</div>
