

<page-title ng-if="layoutOptions.pageNames" title="Journey Designer - Welcome" description="This is the standard landing page after authentication."></page-title>

<script type="text/javascript">
    jQuery(document).ready(function ($) {
        // what do you want to do on page load?
    });
</script>
<script type="text/javascript">

</script>
<div class="row">
    <div class="col-md-12">

        <!-- Default panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Welcome
            </div>

            <div class="panel-body">
                <p>Folly words widow one downs few age every seven. If miss part by fact he park just shew. Discovered had get considered projection who favourable. Necessary up knowledge it tolerably.</p>
                <p>Unwilling departure education is be dashwoods or an. Use off agreeable law unwilling sir deficient curiosity instantly. Easy mind life fact with see has bore ten. Parish any chatty can elinor direct for former. Up as meant widow equal an share least.</p>

            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12">


        <div class="xe-widget xe-todo-list">
            <div class="xe-header">
                <div class="xe-icon">
                    <i class="fa-file-text-o"></i>
                </div>
                <div class="xe-label">
                    <span>to do list</span>
                    <strong>Tasks</strong>
                </div>
            </div>
            <div class="xe-body">

                <ul class="list-unstyled">
                    <li ng-init="todo1_1 = true" ng-class="{done: todo1_1}">
                        <label>
                            <input type="checkbox" class="cbr" ng-model="todo1_1" checked />
                            <span>Web Design</span>
                        </label>
                    </li>
                    <li ng-class="{done: todo1_2}">
                        <label>
                            <input type="checkbox" class="cbr" ng-model="todo1_2" />
                            <span>Slicing</span>
                        </label>
                    </li>
                    <li ng-class="{done: todo1_3}">
                        <label>
                            <input type="checkbox" class="cbr" ng-model="todo1_3" />
                            <span>WooCommerce</span>
                        </label>
                    </li>
                    <li ng-class="{done: todo1_4}">
                        <label>
                            <input type="checkbox" class="cbr" ng-model="todo1_4" />
                            <span>Programming</span>
                        </label>
                    </li>
                    <li ng-class="{done: todo1_5}">
                        <label>
                            <input type="checkbox" class="cbr" ng-model="todo1_5" />
                            <span>SEO Optimize</span>
                        </label>
                    </li>
                    <li ng-show="todo1.title" ng-class="{done: todo1.done}">
                        <label>
                            <input type="checkbox" class="cbr" ng-model="todo1.done" />
                            <span>Do something with your time please....</span>
                        </label>
                    </li>
                </ul>

            </div>
            <div class="xe-footer">
                <input type="text" class="form-control" placeholder="Add task..." ng-model="todo1.title" />
            </div>
        </div>

    </div>
</div>
