<style type="text/css">
    .form-horizontal input.ng-invalid.ng-dirty {
        border-color: #FA787E;
    }

    .form-horizontal input.ng-valid.ng-dirty {
        border-color: #78FA89;
    }
</style>

<page-title ng-if="layoutOptions.pageTitles" title="{{title}}" description="Adjust the properties of the operator."></page-title>

<div class="row">
    <div class="col-md-12">
        <!-- Default panel -->
        <div class="panel panel-default">
            <div class="panel-heading" ng-show="false">
                <span ng-show="title==='Edit Operator'"><i class="glyphicon glyphicon-edit"></i> Currently Editing Operator: '{{operator.code}}'</span>
                <span ng-show="title==='Add Operator'"><i class="glyphicon glyphicon-edit"></i> Currently Adding new Operator: </span>
            </div>
            <div class="panel-body">
                <form role="form" name="myForm" class="form-horizontal">
                    <div class="row">
                        <div class="form-group" ng-class="{error: myForm.name.$invalid}">
                            <label class="col-md-2">Code *</label>
                            <div class="col-md-2">
                                <input name="code" ng-model="operator.code" type="text" class="form-control text-uppercase col-md-2" ng-change="onCodeChanged()" placeholder="Operator code" required ng-maxlength="4" ng-minlength="4" maxlength="4" />
                            </div>
                            <div class="col-md-6 help-container">
                                <span ng-show="myForm.code.$dirty && myForm.code.$error.required" class="help-inline help-broken"><i class="glyphicon glyphicon-remove"></i>Code Required</span>
                                <span ng-show="myForm.code.$dirty && myForm.code.$error.maxlength" class="help-inline help-broken"><i class="glyphicon glyphicon-remove"></i>Code length must be equal to 4 characters</span>
                                <span ng-show="myForm.code.$dirty && myForm.code.$error.minlength" class="help-inline help-broken"><i class="glyphicon glyphicon-remove"></i>Code length must be equal to 4 characters</span>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-md-2">Description *</label>
                            <div class="col-md-4">
                                <input ng-model="operator.description" type="text" class="form-control" placeholder="Enter description" required />
                            </div>
                            <div class="col-md-4 help-container">
                                <span ng-show="myForm.description.$dirty && myForm.description.$error.required" class="help-inline help-broken"><i class="glyphicon glyphicon-remove"></i>Description Required</span>
                            </div>
                        </div>
                        <div class="form-group" ng-show="operator.isArchived===true">
                            <label class="col-md-2"></label>
                            <div class="col-md-8">
                                <span ng-show="operator.isArchived===true" class="text-warning">Operator is Archived</span>
                            </div>
                        </div>
                        <div class="form-group" ng-show="validationErrors">
                            <label class="col-md-2"></label>
                            <div class="col-md-8 alert-danger">
                                <label>Could not save changes. The following errors were found:</label>
                                <br />
                                <ul>
                                    <li ng-repeat="error in validationErrors">{{error}}</li>
                                </ul>
                            </div>
                        </div> 
                        <div class="form-group">
                            <label class="col-md-2"></label>
                            <div class="col-md-8">
                                <a href="#/app/masterdata-operators" class="btn btn-white">Cancel</a>
                                <button ng-click="saveOperator(operator);"
                                        ng-disabled="isClean() || myForm.$invalid"
                                        class="btn btn-primary">
                                    Save
                                </button>
                                <button ng-click="confirmDeleteOperator(operator)"
                                        ng-show="title==='Edit Operator'" class="btn btn-warning">
                                    Delete
                                </button>
                                <button ng-click="confirmArchiveOperator(operator)"
                                        ng-show="operator.isArchived===false" class="btn btn-white">
                                    Archive
                                </button>
                                <button ng-click="confirmActivateOperator(operator)"
                                        ng-show="operator.isArchived===true" class="btn btn-white">
                                    Activate
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
