<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="appConfiguration" type="Cashier.ReadModels.Service.Config.AppConfiguration, Cashier.ReadModels.Service, Version=1.0.0.0, Culture=neutral" />
    </configSections>
    <!-- This is the applicaiton configuration -->
    <appConfiguration serviceDescription="Master Data - Read Models Service" serviceDisplayName="Master Data - Read Models Service" serviceName="MasterData_ReadModelsService" serviceUri="http://localhost:8182" eventStorePort="3306" messageBusEndPoint="masterdata_readmodel">
    </appConfiguration>
    <!-- Standard Configuration Items Below Here -->
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.5.6.0" newVersion="3.5.6.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
